@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Raleway:wght@100;200;300;400;500;600&family=Teko:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
      /* font-family: 'Teko', sans-serif; 
    font-family: 'Quicksand', sans-serif;*/

}
body {
    position: relative;
}
header {
    width: 100%;
    height: 100px;
}

.logo {
    height: 100px;
    position: absolute;
}

#btn__menu {
    display: none;
}

.btn__label {
    display: none;
    width: 30px;
    height: 30px;
    float: right;
    margin: 20px;
}

.menu__icono {
    color: #ba7d40;
    font-size: 30px;
}

.menu {
    width: 100%;
    background-color: #ffffff;
    list-style-type: none;
    text-decoration-line: none;
    display: flex;
    justify-content: end; 
    align-items: center;
}

.menu_item {
    display: flex;
    text-decoration: none;
    align-items: center;
    display: inline-block;
    margin-inline: 10px;
    margin-block: 10px;
    padding: 0 5px 0 0;
}

.lista {
    padding-block: 30px;
    display: flex;
    justify-content: space-between;
}

.menu_item a {
    color: #bf6b16;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}

@media screen and (min-width:720px) {    
    .menu_item.active a,
    .menu_item a:hover {
        text-decoration: none;
        color: #05020199;
        font-weight: 500;
    }
}

.principal {
    width: 100%;
    background-image: url(../imagenes/background3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo__header {
	color: #bf6b16;
    font-size: 30px;
    padding-inline: 5px;
}

.parrafo__header { 
    color: #bf6b16;
    text-align: center;
    font-size: 20px;  
    padding-inline: 20%;
    padding-top: 30px;
}

/*productos*/
/*prueba titulos*/

.eventos__titulo { 
    display: block;
    background-color: #ba7d40;
    height: 60px;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
    color: #ffffff; 
}

.eventos {
    display: grid;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    background-color: #ffffff;  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "evento1       evento_vacio2   evento_vacio3  evento4"
        "evento1       evento2         evento3        evento4 "
        "evento1       evento2         evento3        evento4"
        "evento_vacio1 evento2         evento3        evento_vacio4";
}


.evento1, .evento2, .evento3, .evento4 {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.evento1 {
    grid-area: evento1;
} 


.evento2 {
    grid-area: evento2;
}

.evento3 {
    grid-area: evento3;
}

.evento4 {
    grid-area: evento4;
}

.evento_vacio1 {
    grid-area: evento_vacio1;
}
.evento_vacio2 {
    grid-area: evento_vacio2;
}
.evento_vacio3 {
    grid-area: evento_vacio3;
}
.evento_vacio4 {
    grid-area: evento_vacio4;
}

.evento1__imagen, .evento2__imagen, .evento3__imagen, .evento4__imagen {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.eventos p {
    text-align: center;
    padding-top: 20px;
    padding-inline: 30px;
    line-height: 20px;
    padding-bottom: 5px;
}

.boton {
    border-radius: 5px;
    border: none;
    background-color: #ba7d40;
    padding: 10px;
    margin-top: 5px;
}

.boton:hover {
    background-color: #bf6b16;
    cursor: pointer;
}

.seccion__historia {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.historia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: #ffffff;  
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.711);
}

.historia__izquierdo {
    font-size: 20px;
    flex: 1;
    padding-inline: 20px;
}

.historia__izquierdo h4 {
   color: #bf6b16;
}

.historia__parrafo {
    line-height: 50px;
}

.historia__derecho {
    flex: 1.2;
    padding-inline: 20px;
}

.historia__imagen {
    max-width: 100%;
    border-radius: 10px;
    transition-timing-function: ease-in-out;
}


/*footer*/

footer {
    height: 80px;
    background-color: #ba7d40;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.redes {
    font-size: 30px;
    letter-spacing: 10px;
}

.redes a {
    color: #ffffff;
}

/*nuestros-platos*/

.main__menu {
    background-image: url(../Imagenes/el\ nacional__menu.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.contenedor {
    width: 70vw;
    height: auto;
    background-color: rgb(251, 246, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center center;
    padding: 20px;
}

.titulo__paraje h2 {
    display: flex;
    justify-content: center;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    font-size: 100px;
    padding-top: 50px;
    text-transform: uppercase;
}

.titulo__paraje h3 {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 150px;
    color: #F98A0C;
    text-shadow: 5px 5px 10px #865e35;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separador {
    background-color: #F98A0C;
    padding: 5px;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separador__titulo {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.menuparaje {
    display: flex;
    color: #bf6b16;
    width: 100%;
    gap: 5rem;
    justify-content: center;
}

.listado {
    padding-block: 30px;
    justify-content: center;   
    line-height: 55px;
    text-transform: uppercase;
}

.listado__precio ul {
    padding-block: 30px;
    list-style-type: none;
    justify-content: center;
    line-height: 55px;    
}

.listado ul {
    list-style-type: none;
}

/*servicios*/

.servicios h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ba7d40;
    height: 60px;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
}
/*quienes-somos*/

.quienes__somos {
    width: 100%;
}
.quienes__somos h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ba7d40;
    height: 60px;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
}

.quienes__somos p {
    align-items: left;
}

/*formulario*/

main {
    display: flex;
    height: calc(100vh-160px);
    width: 100%;
}

.titulo__contacto {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ba7d40;
    height: 60px;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
}

.formulario {
   height: 100%;
   flex: 1;
   margin-block: 35px;
   margin-inline: 30px;
}

.datos__paraje {
    height: 100%;
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form__contacto {
    display: grid;
    color: #bf6b16;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "namesurname  email"
        "teléfono     motivo"
        "mensaje      mensaje"
        "mensaje      mensaje";
    width: 100%;
    gap: 1rem;
}

.form__contacto input {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: 1rem 1.5rem;
}

.form__contacto ::placeholder {
    color: #bf6b16;
}

.form__contacto .namesurname {
    grid-area: namesurname;
}

.form__contacto .email {
    grid-area: email;
}

.form__contacto .teléfono {
    grid-area: teléfono;
}

.form__contacto .motivo {
    grid-area: motivo;
}

.form__contacto .mensaje {
    grid-area: mensaje;
}

.button, .reset {
    border-radius: 10px;
    padding: 10px;
    background-color: #ba7d40;
    border: 0;
    width: 150px;
}

.button:hover,
.reset:hover {
    background-color: #bf6b16;
}

.datos__parajeh3, .datos__parajeh4 {
    margin-bottom: 20px;  
}

.datos__paraje h3 {
    color: #ba7d40;  
}

@media screen and (max-width: 480px) { 

   .btn__label {
        display: block;
   }

   .lista {
        flex-direction: column;
   }

   .menu_item a {
        color: #ffffff;
   }

   .menu {
        background-color: #ba7d40;
        position: absolute;
        right: 0;
        top: 70px;
        width: 40vw;
        margin-right: -70%;
        transition: all 0.75s;
   }

   #btn__menu:checked ~ .menu {
        margin-right: 0;
   }

   .principal {
    height: 60vh;
   }

   .eventos {
        display: flex;
        flex-direction: column;
        height: 100%;
   }

   .evento1, .evento2, .evento3, .evento4 {
        flex: 1;
        padding-bottom: 30px;
   }

   .eventos p {
    padding-inline: 60px;
   }

   .historia {
    flex-direction: column;
    padding-top: 20px;
    gap: 30px;
   }

   .historia__derecho, .historia__izquierdo {
        flex: 1;
   }

   main {
        flex-direction: column;
   }
    /*formulario*/
   .form__contacto {
        display: flex;
        flex-direction: column;
   }
   
   .datos__paraje {
        width: 100%;
   }
   
   /*nuestros-platos*/

   .main__menu {
        background-image: none;
   }

   .separador {
    width: 100vw;
   }
   .titulo__paraje h2 {
    font-size: 70px;
    padding-top: 0;
   }

   .contenedor {
    width: 100vw;
   }


}
