@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Raleway:wght@100;200;300;400;500;600&family=Teko:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
      /* font-family: 'Teko', sans-serif; 
    font-family: 'Quicksand', sans-serif;*/

}
body {
    position: relative;
}
header {
    width: 100%;
    height: 100px;
}

.logo {
    height: 100px;
    position: absolute;
}

#btn__menu {
    display: none;
}

.btn__label {
    display: none;
    width: 30px;
    height: 30px;
    float: right;
    margin: 20px;
}

.menu__icono {
    color: #ba7d40;
    font-size: 30px;
}

.menu {
    width: 100%;
    background-color: #ffffff;
    list-style-type: none;
    text-decoration-line: none;
    display: flex;
    justify-content: end; 
    align-items: center;
}

.menu_item {
    display: flex;
    text-decoration: none;
    align-items: center;
    display: inline-block;
    margin-inline: 10px;
    margin-block: 10px;
    padding: 0 5px 0 0;
}

.lista {
    padding-block: 30px;
    display: flex;
    justify-content: space-between;
}

.menu_item a {
    color: #bf6b16;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}

.principal {
    width: 100%;
    background-image: url(../Imagenes/background3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal .titulo__header {
	color: #bf6b16;
    font-size: 40px;
    padding-inline: 5px;
    -webkit-animation: appear;
    animation: appear;
    animation-duration: 2s;
    animation-direction:normal;
    animation-iteration-count: 1;
}

@keyframes appear {
    0%{
        opacity:0;
    }
    25%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes appear {
    0%{
        opacity:0;
    }
    25%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}


.parrafo__header { 
    color: #bf6b16;
    text-align: center;
    font-size: 20px;  
    padding-inline: 20%;
    padding-top: 30px;
    -webkit-animation: appear;
    animation: appear;
    animation-duration: 4s;
    animation-direction:normal;
    animation-iteration-count: 1;
}

/*productos*/


.eventos__titulo { 
    display: block;
    background-color: #ba7d40;
    height: 60px;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
    color: #ffffff; 
}

.eventos {
    display: grid;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    background-color: #ffffff;  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "evento1       evento_vacio2   evento_vacio3  evento4"
        "evento1       evento2         evento3        evento4 "
        "evento1       evento2         evento3        evento4"
        "evento_vacio1 evento2         evento3        evento_vacio4";
}

.evento1, .evento2, .evento3, .evento4 {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.evento1 {
    grid-area: evento1;
} 

.evento2 {
    grid-area: evento2;
}

.evento3 {
    grid-area: evento3;
}

.evento4 {
    grid-area: evento4;
}

.evento_vacio1 {
    grid-area: evento_vacio1;
}
.evento_vacio2 {
    grid-area: evento_vacio2;
}
.evento_vacio3 {
    grid-area: evento_vacio3;
}
.evento_vacio4 {
    grid-area: evento_vacio4;
}

.evento1__imagen, .evento2__imagen, .evento3__imagen, .evento4__imagen {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.eventos p {
    text-align: center;
    padding-top: 20px;
    padding-inline: 30px;
    line-height: 20px;
    padding-bottom: 5px;
}

.evento1 a, .evento2 a, .evento3 a, .evento4 a {
    border-radius: 5px;
    border: none;
    color: #000000;
    text-decoration: none;
    background-color: #ba7d40;
    padding: 10px;
    margin-top: 5px;
}

.seccion__historia {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.historia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: #ffffff;  
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.711);
}

.historia__izquierdo {
    font-size: 20px;
    flex: 1;
    padding-inline: 3vw;
}

.historia__izquierdo h4 {
   color: #bf6b16;
}

.historia__parrafo {
    line-height: 50px;
}

.historia__derecho {
    flex: 1.2;
    padding-inline: 20px;
}

.historia__imagen {
    max-width: 100%;
    border-radius: 10px;
    transition-timing-function: ease-in-out;
}

/*//// footer /////*/

footer {
    width: 100%;
    height: 80px;
    background-color: #ba7d40;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    
}

.redes {
    font-size: 30px;
    letter-spacing: 10px;
}

.redes a {
    color: #ffffff;
}

/*////nuestros-platos /////*/

.main__menu {
    width: 100%;
    height: auto;
    background-image: url(../Imagenes/el\ nacional__menu.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.contenedor {
    width: 70vw;
    height: auto;
    background-color: rgb(251, 246, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.titulo__paraje {
    text-align: center;
}

.titulo__paraje h2 {
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    font-size: 100px;
    padding-top: 50px;
    text-transform: uppercase;
}

.titulo__paraje h3 {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 150px;
    color: #F98A0C;
    text-shadow: 5px 5px 10px #865e35;
}

.separador {
    background-color: #F98A0C;
    padding: 2%;
    width: 40vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separador__titulo {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.menuparaje {
    display: flex;
    color: #bf6b16;
    width: 40vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.listado {
    padding-block: 30px;
    text-transform: uppercase;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.listado__precio {
    padding-block: 30px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.menuparaje ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menuparaje li {
    padding-block: 1rem;
}

/* ////servicios///// */

.servicios h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ba7d40;
    height: 60px;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
}

.servicios {
    height: 80px;
}

.seccion__servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    flex-direction: column;
}

.primeros, .segundos {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;   
}

.servicio {
    width: 25vw;
    height: 90vh;
    background-color: #bf6b16;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.servicio {
    transition: all 1s;
}

.servicio:hover {
    transform: scale(1.1) translateY(-20px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.info {
    padding: 10px 20px 20px 20px;
    line-height: .95cm;
    color: #000000;  
}

.info h4 {
    color: #ffffff;
    text-transform: uppercase;
}

.info a {
    color: #000000;
    background-color: #ba7d40;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.info a:hover {
    background-color: #885b2f;
}

.servicio img {
    width: 100%;   
}

/* //// quienes-somos ////*/

.main__quienessomos {
    width: 100%;
    height: auto;
}

.quienes__somos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #ba7d40;
}

.quienes__somos h2 {
    font-size: 35px;
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
}

.seccion__quienessomos {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    padding-top: 40px;  
    padding-bottom: 50px;
}

.div__izq1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-inline: 3rem;
    -webkit-animation: fade-in-fwd 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    
}

.div__izq1 p {
    font-size: 1.2vw;
    line-height: 5vh;
}
.div__izq1 h3 {
    font-size: 1.4vw;
    color: #ba7d40;
    padding-bottom: 20px;
}

.div__der1 {
    flex: 1;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    padding-inline: 4rem;

}

.nh__imagen {
    height: 60vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

@-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

.seccion__nuestrahistoria {
    width: 100%;
    height: 80vh;
    display: flex;
    margin-bottom: 5vh;
}

.div__izq2 {
    flex: 1;
    display: flex;
    justify-content: center;
}

.qs__imagen {
    height: 80vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.div__der2 {
    flex: 1;
    padding-inline: 2rem;
}

.div__der2 p {
    line-height: 1cm;
    font-size: 1.2vw;
}

.div__der2 h3 {
    color: #ba7d40;
    font-size: 1.4vw;
    padding-bottom: 20px;
}

/*//// formulario ////*/

.main__formulario {
    display: flex;
    height: 100vh;
 
}

.titulo__contacto {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ba7d40;
    height: 60px;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
}

.formulario {
   width: 50%;
   height: 100%;
   flex: 1;
   margin-block: 35px;
   margin-inline: 30px;
}

.datos__paraje {
    height: 100%;
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form__contacto {
    display: grid;
    color: #bf6b16;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "namesurname  email"
        "teléfono     motivo"
        "mensaje      mensaje"
        "mensaje      mensaje";
    width: 100%;
    gap: 1rem;
}

.form__contacto input {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: 1rem 1.5rem;
}

.form__contacto ::placeholder {
    color: #bf6b16;
}

.form__contacto .namesurname {
    grid-area: namesurname;
}

.form__contacto .email {
    grid-area: email;
}

.form__contacto .teléfono {
    grid-area: teléfono;
}

.form__contacto .motivo {
    grid-area: motivo;
}

.form__contacto .mensaje {
    grid-area: mensaje;
}

.button, .reset {
    border-radius: 10px;
    padding: 10px;
    background-color: #ba7d40;
    border: 0;
    width: 160px;
}

.button:hover,
.reset:hover {
    background-color: #bf6b16;
}

.datos__paraje h3, .datos__paraje h4 {
    margin-bottom: 20px;  
}

.datos__paraje h3 {
    color: #ba7d40;
    font-size: 1.5rem; 
}


/* //// MEDIA QUERIES //// */


@media screen and (min-width:720px) {    
    .menu_item.active a,
    .menu_item a:hover {
        text-decoration: none;
        color: #05020199;
        font-weight: 500;
    }
    .boton:hover {
        background-color: #bf6b16;
        cursor: pointer;
    }
}

@media screen and (max-width: 480px) { 
    /*index*/
   .btn__label {
        display: block;
   }

   .lista {
        flex-direction: column;
   }

   .menu_item a {
        color: #ffffff;
   }

   .menu {
        background-color: #ba7d40;
        position: absolute;
        right: 0;
        top: 70px;
        width: 50vw;
        margin-right: -70%;
        transition: all 0.75s;
        justify-content: center; 
        z-index: 1;
   }

   #btn__menu:checked ~ .menu {
        margin-right: 0;
   }

   #btn__menu:not(:checked) ~ .menu {
        display: none;
}

   .principal {
    height: 60vh;
   }

   .eventos {
        display: flex;
        flex-direction: column;
        height: 100%;
   }

   .evento1, .evento2, .evento3, .evento4 {
        flex: 1;
        padding-bottom: 30px;
   }

   .eventos p {
    padding-inline: 60px;
   }

   .historia {
    flex-direction: column;
    padding-top: 15px;
   }

   .historia__parrafo, .historia__izquierdo h4 {
        font-size: 15px;
        line-height: 30px;
        padding-top: 10px;
   }

   .historia__derecho, .historia__izquierdo {
        flex: 1;
        max-width: 80vw;

   }
   .historia__imagen {
        max-width: 100%;
   }

   main {
        flex-direction: column;
   }
    /*formulario*/

    .main__formulario {
        height: auto;
    }
    
   .form__contacto {
        display: flex;
        flex-direction: column;
   }
   
   .datos__paraje {
        width: 100%;
   }
   
   /*nuestros-platos*/

   .main__menu {
        background-image: none;
   }

   .separador {
        padding: 2%;
        height: 5vh;
        width: 100vw;
   }

   .separador__titulo {
        font-size: 4vw;
   }

   .titulo__paraje h2 {
        font-size: 60px;
        padding-top: 0;
   }

   .contenedor {
        width: 100vw;
   }

   .menuparaje{
    width: 90vw;
   }

   .listado {
    width: 70%;
   }

   .listado__precio {
    width: 30%;
   }

   /*servicios*/

   .seccion__servicios {
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
   }

   .primeros,
   .segundos {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 280vh;
   }

   .servicio {
    width: 80vw;
   }
 
   /*quienes-somos*/

   .main__quienessomos {
    flex-direction: column;
   }

   .seccion__quienessomos {
    flex-direction: column;
    height: 160vh;
    padding-bottom: 50px;
   }

   .div__izq1 {
    width: 90%;
    height: 100vh;
   }

   .div__izq1 h3,
   .div__der2 h3 {
    font-size: 20px;
   }

   .div__izq1 p,
   .div__der2 p {
    font-size: 18px;
   }

   .div__der1 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-inline: 0;
   }

   .nh__imagen {
    width: 100%;
   }

   .seccion__nuestrahistoria {
    flex-direction: column;
    height: 220vh;
    margin-top: 5vh;
    }

   .div__der2 {
    order: -1;
    height: 140vh;
   }

   .div__izq2 {
    display: flex;
    justify-content: center;
    width: auto;
    height: 50vh;
    padding-top: 40px;
   }

   .qs__imagen {
    width: 100%;
   }
}
